# System Files
.DS_Store
**/.DS_Store

# Python
__pycache__/
**/*.pyc
.pytest_cache/
.venv/
dist/
build/

# Secrets
.env

# Project Specific
outputs/
test_results/

# Diagnostics & Local Temporary Files
diagnostics/
eval/test_video_gen.py
